:root {
    --background: white;
    --foreground: #171717;
    --scrollbar-track: transparent;
    --scrollbar-thumb: #d1d1d1;
    --scrollbar-thumb-hover: #b5b5b5;
    --freq-it-orange: #c85025;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --scrollbar-thumb: #333333;
        --scrollbar-thumb-hover: #444444;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 2px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

body,
html {
    margin: 0;
}

body {
    background: var(--background) !important;
    color: var(--foreground);
    font-family: "Inter";
    overflow-x: hidden;
}

.freq-it-orange-bg {
    background-color: var(--freq-it-orange) !important;
}

.freq-it-orange-color {
    color: var(--freq-it-orange) !important;
}

.hero-container {
    background-image: radial-gradient(circle at 1px 1px, rgba(212, 212, 212, 0.795) 1px, transparent 0);
    background-size: 25px 25px;
    margin: 0;
}
